<div class="well">
    <div class="form-group">
        <label for="user__name">Name</label>
        <input type="text" name="" id="user__name" class="form-control" ng-model="vm.user.name" placeholder="ex. Robert" required>
    </div>

    <div class="form-group">
        <label for="user__lastName">Last name</label>
        <input type="text" name="" id="user__lastName" class="form-control" ng-model="vm.user.lastName" placeholder="ex. White">
    </div>

    <div class="form-group">
        <label for="user__email">Email</label>
        <input type="email" name="" id="user__email" class="form-control" ng-model="vm.user.email" placeholder="ex. john@email.com" required>
    </div>

    <div class="form-group">
        <label for="user__username">Username</label>
        <input type="text" name="" id="user__username" class="form-control" ng-model="vm.user.username" placeholder="username" required>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>  
        <button ui-sref="all" class="btn btn-danger">Cancel</button>
    </div>        
</div>