<div class="jumbotron col-md-10 col-md-offset-1">
  <h1>Angular GoLang REST</h1>
  <p>This is a first Application using Golang as an RestFul API and using AngularJS for accesing those endpoints, you can view all the users, edit them and create new users.
  <br><br>
  New features and changes coming soon, keep in touch!! </p>
  <br>
  <button ui-sref="all"class="btn btn-primary btn-lg col-md-3" href="#" role="button">View users</button>
  <button ui-sref="userCreate" class="btn btn-primary btn-lg col-md-3 col-md-offset-2" href="#" role="button">Create user</button>
</div>  